@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Lato:ital,wght@1,300&family=Manrope:wght@700&family=Open+Sans&family=Oswald:wght@600&family=Source+Sans+Pro:ital,wght@0,600;1,400&family=Work+Sans&display=swap');


.movie__title {
  font-size: 1.6em;
  color: #000;
  
  font-family: 'Source Sans Pro', Arial, sans-serif;

}

.accordion-name {
  font-size: 1.8rem;
  font-weight: 900;
  color: #000;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

p {
  font-size: 1em;
  font-weight: 300;
}

.list-group-item{
  font-size: 1em;

}