#footer {
  background: #031e36;
 
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  nav{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 80px;

    .footer__links {
      margin-right: 40px;
      .footer__btn{
        color: #01b4e4;
        background-color: white;
        padding: 10px 10px;
        border-radius: 5px;
        font-style: 19px;
        font-weight: 700;
        position: relative;
        top: 50px;
      }
      &:first-of-type{
        position: relative;
        top: -36px;
      }
      .footer__logo { 
        width: 130px;
      }
      .footer__title {
        margin-bottom: 2px;
        color: white;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
      }
      a {
        display: inline-block;
        text-decoration: none;
        color: white;
        font-size: 17px;
      }
      ul {
        padding-left: 0;
      }
    }
  }
}
