footer {
  height: 326px;
  background: #031e36;
  padding: 12px 0px 12px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  .row {
    display: flex;
    justify-content: center;
    .footer__links {
      width: 165px;
      .footer__logo { 
        width: 130px;
        margin-top: -33px;
      }
      .footer__title {
        margin-bottom: 2px;
        color: white;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
      }
      a {
        display: inline-block;
        text-decoration: none;
        color: white;
        font-size: 17px;
      }
      ul {
        padding-left: 0;
      }
      .footer__btn{
        margin-top: 43px;
        color: #01b4e4;
        background-color: white;
        padding: 10px 10px;
        border-radius: 5px;
        font-style: 19px;
        font-weight: 700;
      }
    }
  }
}

